* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #bbc5be;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  border-style: groove;
  padding: 30px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;

}
.header .full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header .first-name {
  font-weight: 600;
}

.header .last-name {
  font-weight: 300;
}

.header .contact-info {
  margin-bottom: 20px;
}

.header .email,
.header .phone {
  color: rgb(22, 19, 19);
  font-weight: 400;
  text-decoration-line: underline;
}

.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid hsl(135, 17%, 91%);
  margin: 0px 10px;
}

.header .position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: unset;
}

.details {
  line-height: 20px;
}
.details .section {
  margin-bottom: 40px;
}

.details .section:last-of-type {
  margin-bottom: 0px;
}

.details .section__title {
  letter-spacing: 2px;
  color: #54afe4;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.details .section__list-item {
  margin-bottom: 40px;
}

.details .section__list-item:last-of-type {
  margin-bottom: 0;
}

.details .left,
.details .right {
  vertical-align: top;
  display: inline-block;
}

.details .left {
  width: 60%;
}

.details .right {
  text-align: right;
  width: 39%;
}

.details .name {
  font-weight: bold;
}

.details a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}

.details a:hover {
  text-decoration: underline;
  color: #000;
}

.details .skills__item {
  margin-bottom: 10px;
}

.details .skills__item .right input {
  display: none;
}

.details .skills__item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #c3def3;
  border-radius: 20px;
  margin-right: 3px;
}

.details .skills__item .right input:checked + label {
  background: #79a9ce;
}
.footer.social-media-banner{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:black;
  color:white;
  text-align:center;
}
